<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Pay attention to the number and the correct order of the ingredients because to be a real neapolitan pizzaiolo you will need to make one of the pizza seen on the menu.</string>
			<key>SpoilerButtonTitle</key>
			<string>Neapolitan Pizzaiolo?</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>The ingredients z-position on the pizza is established according to a particular hierarchy, no matter the order of the methods you send.</string>
		</dict>
	</array>
	<key>PosterReference</key>
	<string>Empty_Poster.png</string>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Make your pizza</string>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>LiveViewEdgeToEdge</key>
	<true/>
</dict>
</plist>
