<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Pay attention to the number and the correct order of the ingredients because to be a Real Neapolitan Pizzaiolo you will need to make one of the pizza seen on the menu.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>If you don&apos;t remember the ordered list of ingredients for a particular pizza, here is one: Pizza Margherita is composed by Sauce, Mozzarella and Basil.</string>
			<key>SpoilerButtonTitle</key>
			<string>Show me a good example</string>
		</dict>
	</array>
	<key>PosterReference</key>
	<string>tableCloth.png</string>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Make your pizza</string>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>LiveViewEdgeToEdge</key>
	<true/>
</dict>
</plist>
