<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>Gulf</key>
		<dict>
			<key>Definition</key>
			<string>The center of dreams, it is fronted by Naples, a handful of smaller towns, Mount Vesuvius and the Roman ruins of Pompeii and Herculaneum, and by the Sorrentine Peninsula and the beautiful town of Sorrento - the gateway to Positano and the stunning Amalfi Coast. Offshore islands of note include Capri and Ischia.</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Let&apos;s%20play%20with%20pizza/Eat%20it</string>
				<key>Title</key>
				<string>Eat it</string>
			</dict>
		</dict>
		<key>Vesuvius</key>
		<dict>
			<key>Definition</key>
			<string>Mount Vesuvius, on the west coast of Italy, is the only active volcano on mainland Europe. It is best known because of the eruption in A.D. 79 that destroyed the cities of Pompeii and Herculaneum.</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Let&apos;s%20play%20with%20pizza/Eat%20it</string>
				<key>Title</key>
				<string>Eat it</string>
			</dict>
		</dict>
		<key>Dough</key>
		<dict>
			<key>Definition</key>
			<string>Dough is typically made by mixing flour with a small amount of water and/or other liquid, and sometimes includes yeast or other leavening agents as well as other ingredients such as various fats or flavorings.</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Let&apos;s%20play%20with%20pizza/Make%20your%20pizza</string>
				<key>Title</key>
				<string>Make your pizza</string>
			</dict>
		</dict>
		<key>Pizza</key>
		<dict>
			<key>Definition</key>
			<string>Yeasted flatbread generally topped with tomato sauce and cheese and baked in an oven. It is commonly topped with a selection of meats, vegetables and condiments.</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Let&apos;s%20play%20with%20pizza/Welcome%20menu</string>
				<key>Title</key>
				<string>Welcome menu</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
